Homework Project #2: Pandas DataFrame Manipulation Due Date: Wed. 3/30/22 (before class)

Objective: To apply knowledge about Pandas Data Frames to analyze an existing dataset. Instructions: Complete this project in groups of two and without assistance from classmates or outside parties, or collusion with other groups. Doing so will be considered an academic integrity violation. See below.

Requirements: Using the CSV file assigned to you (based on your group number), write Python code to read the file into a Pandas DataFrame analyze the data, and show the following output:

Use the appropriate Pandas method to list all the characteristics of your dataset, including number of rows and columns, column names, data types etc.

Use the appropriate count function to count and show the number of apps in each genre.

Show all statistics (min, max, std, count and quartiles) of user ratings and size on the same summary table.

Filter the dataset to list all paid apps with ratings under 1.5 and print the total number of apps that fulfill the condition.

Write Python code to calculate which percentage of the apps in the dataset are free. Do not change Nan values to zero. Print the percentage on a 100 points basis, with no more than 2 decimals.

In the last cell of your notebook, write a paragraph explaining the results of manipulating this dataset with the above steps.
Help: The following tutorial based on a different dataset might be helpful if you need some guidance: https://towardsdatascience.com/getting-started-to-data-analysis-with-python-pandas-with-titanic-dataset-a195ab043c77

Submit for grading: Upload your Jupyter Notebook file (.ipynb) using the corresponding Blackboard Assignment link. Remove extra output. Only one submission per group is needed. Use the group number when you name your file (e.g., G7Pandas.ipynb).

Professor consultation while assignment is ongoing: To be fair to other students, the professor cannot “check your code to see if it is ok” before the deadline. Debugging your code is part of this assignment. However, your professor can help you figure out the meaning of an error message and/or answer questions about the code examples developed in class.

Academic Integrity Warnings: Seeking outside assistance from other groups, advanced programmers or homework helping sites is considered an academic integrity violation and will be handled accordingly. If your program uses advanced data structures or libraries not covered in class, you will be asked to explain your code in an oral exam and/or in class. Please remember that copy/pasting code from the Web without attribution is considered an Academic Integrity violation and will be handled accordingly.

Honor Code: By submitting the required files, you attest that you completed this assignment with academic integrity.

Grading Rubric: 40% independent verification of program run; 30% required and correct output; (eliminate the output of intermediate steps); 30% documentation (3 levels: 1= top of the notebook indicating title, names and date, 2= comments in code, and 3= labeling of the output), and interpretation of results in the last cell of the notebook.

In [25]:
# import packages 

import numpy as np
import pandas as pd

In [8]:
# importing the dataset with read_csv

df = pd.read_csv('googleplaystore.csv')
print(df)

                                                     App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

       User Ratings Reviews   SizeKb     Installs  Type Price Content Rating  \
0               4.1     159  19000.0      10,000+  Free     0       Everyone
1               3.9     967  14000.0     500,000+  Free     0       Everyone
2               4.7   87510   8700.0   5,000,000+  Free     0       Everyone
3               4.5  215644  25000.0  50,000,000+  Free     0           Teen
4               4.3     967   2800.0     100,000+  Free     0       Everyone
...             ...     ...      ...          ...   ...   ...            ...
10836           4.5      38  53000.0       5,000+  Free     0       Everyone
10837           5.0       4   3600.0         100+  Free     0       Everyone
10838           NaN       3   9500.0       1,000+  Free     0       Everyone
10839           4.5     114      NaN       1,000+  Free     0     Mature 17+
10840           4.5  398307  19000.0  10,000,000+  Free     0       Everyone

                  Genres Last Updated         Current Ver         Android Ver
0           Art & Design     7-Jan-18               1.0.0        4.0.3 and up
1           Art & Design    15-Jan-18               2.0.0        4.0.3 and up
2           Art & Design     1-Aug-18               1.2.4        4.0.3 and up
3           Art & Design     8-Jun-18  Varies with device          4.2 and up
4           Art & Design    20-Jun-18                 1.1          4.4 and up
...                  ...          ...                 ...                 ...
10836          Education    25-Jul-17                1.48          4.1 and up
10837          Education     6-Jul-18                   1          4.1 and up
10838            Medical    20-Jan-17                   1          2.2 and up
10839  Books & Reference    19-Jan-15  Varies with device  Varies with device
10840          Lifestyle    25-Jul-18  Varies with device  Varies with device

[10841 rows x 13 columns]

In [9]:
# Listing characteristics using .head() method

df.head()

,App,Category,User Ratings,Reviews,SizeKb,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.0,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.0,"500,000+",Free,0,Everyone,Art & Design,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700.0,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000.0,"50,000,000+",Free,0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800.0,"100,000+",Free,0,Everyone,Art & Design,20-Jun-18,1.1,4.4 and up

In [18]:
# show the number of apps in each genre

df = pd.read_csv('googleplaystore.csv', usecols= ['App','Genres']) 
df.describe()

           App Genres
count    10841  10840
unique    9660     46
top     ROBLOX  Tools
freq         9    843

In [22]:
# (min, max, std, count and quartiles) of user ratings and size on the same summary table.
df = pd.read_csv('googleplaystore.csv', usecols= ['User Ratings','SizeKb']) 
df.describe()

       User Ratings         SizeKb
count   9367.000000    9146.000000
mean       4.193338   21514.286355
std        0.537431   22588.531567
min        1.000000       9.000000
25%        4.000000    4900.000000
50%        4.300000   13000.000000
75%        4.500000   30000.000000
max       19.000000  100000.000000

In [35]:
# Filter dataset to list all paid apps with ratings under 1.5, print total number of apps that fulfill the condition.
df_ratings = df["User Ratings"] < 1.5
df_paidapps = df["Price"] = 1
df[df_paidapps & df_ratings]

       User Ratings   SizeKb  Price
625             1.0   9200.0      1
4127            1.0  16000.0      1
5151            1.0  28000.0      1
5978            1.0   2000.0      1
6008            1.4  13000.0      1
6319            1.0   4900.0      1
6490            1.0   2300.0      1
7144            1.0   8400.0      1
7383            1.0   6600.0      1
7427            1.0  13000.0      1
7677            1.4   4100.0      1
7806            1.0   7800.0      1
7926            1.0   7200.0      1
8258            1.4   3100.0      1
8820            1.0   4400.0      1
8875            1.0  24000.0      1
10082           1.2  27000.0      1
10324           1.0  21000.0      1
10400           1.0  33000.0      1
10591           1.0  41000.0      1

In [90]:
#Write Python code to calculate which percentage of the apps in the dataset are free. Do not change Nan values to zero. Print the percentage on a 100 points basis, with no more than 2 decimals.

df_freeapps = df["Type"] == "Free"
df[df_freeapps]
df_percent = (df['Price'] / df['Price'].sum()) * 100
df_percent

0        0.009224
1        0.009224
2        0.009224
3        0.009224
4        0.009224
           ...
10836    0.009224
10837    0.009224
10838    0.009224
10839    0.009224
10840    0.009224
Name: Price, Length: 10841, dtype: float64

In the last cell of your notebook, write a paragraph explaining the results of manipulating this dataset with the above steps.

Manipulating this dataset would not have been possible without importing the packages first. Then, importing the dataset using read.csv. Listing characteristics was possible with the .head() method. I was able to display the number of apps in each genre using the describe method. I was able to filter the datasets I was looking for by creating new dataframes out of the ones that already exist. I was able to get a summary table with the stats I needed using the describe method. I was able to find the percentatge of the apps in the dataset that are free by creating a new datafram where I isolated for the "Free" column where I then took the percentage for the whole dataframe. Overall, I learned a plethora about pandas dataframe manipulation through this assignment, and I am looking forward to compounding this knowledge.