# Lab 3-21-22_Start

In [3]:
#Ex.1: Pandas Series Application and Indexing
#Source: https://medium.com/analytics-vidhya/pandas-tutorials-advanced-indexing-b35909b26bcd

import numpy as np
import pandas as pd

prices = [10.70, 10.80, 10.50, 10.90]
shares = pd.Series(prices)
print('This is shares:')
print(shares)

days = ['Mon','Tue','Wed','Thu']
shares = pd.Series(prices, index=days)
print('This is shares:')
print(shares)
print('This is shares.index:')
print(shares.index)

This is shares:
0    10.7
1    10.8
2    10.5
3    10.9
dtype: float64
This is shares:
Mon    10.7
Tue    10.8
Wed    10.5
Thu    10.9
dtype: float64
This is shares.index:
Index(['Mon', 'Tue', 'Wed', 'Thu'], dtype='object')

In [9]:
#accessing the index object - do not confuse this with accessing the data in the series
print('This is shares.index[1]: ', shares.index[1])
#This is different from
print('This is shares[1]: ', shares[1])
print('This is shares[Tue]: ', shares['Tue'])
print('This is shares.index[ :2]: ', shares.index[ :2])
print('This is shares.index[-2:]: ', shares.index[ -2:])

This is shares.index[1]:  Tue
This is shares[1]:  10.8
This is shares[Tue]:  10.8
This is shares.index[ :2]:  Index(['Mon', 'Tue'], dtype='object')
This is shares.index[-2:]:  Index(['Wed', 'Thu'], dtype='object')

In [10]:
#accessing data with implicit and explicit index
print('This is shares[1]: ',shares[1])
print('This is shares[Tue]', shares['Tue'])

This is shares[1]:  10.8
This is shares[Tue] 10.8

In [11]:
#slicing data with implicit and explicit index
print('This is shares[1:3] \n', shares[1:3])
print('This is shares[Tue:Thu]\n', shares['Tue':'Thu'])

This is shares[1:3]
 Tue    10.8
Wed    10.5
dtype: float64
This is shares[Tue:Thu]
 Tue    10.8
Wed    10.5
Thu    10.9
dtype: float64

In [12]:
#accessing data with loc and iloc methods
print('This is shares.iloc[0]: ',shares.iloc[0])
print('This is shares.loc[Mon]', shares.loc['Mon'])

This is shares.iloc[0]:  10.7
This is shares.loc[Mon] 10.7

In [13]:
#slicing date with loc and iloc methods
print('This is shares.iloc[1:3] \n ',shares.iloc[1:3])
print('This is shares.iloc[Tue:Thu] \n  ',shares.loc['Tue':'Thu'])

This is shares.iloc[1:3]
  Tue    10.8
Wed    10.5
dtype: float64
This is shares.iloc[Tue:Thu]
   Tue    10.8
Wed    10.5
Thu    10.9
dtype: float64

## Pandas DataFrame

In [15]:
#Ex2-1. Creating a Pandas DataFrame from a dictionary
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
print('This is area :\n')
print(area)
print('This is the type: ', type(area))

This is area :

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64
This is the type:  <class 'pandas.core.series.Series'>

In [16]:
pop_dict = {'California': 123, 'Texas': 456, 'New York': 321,
             'Florida': 654, 'Illinois': 199}
population = pd.Series(pop_dict)
print('This is population :\n')
print(population)

This is population :

California    123
Texas         456
New York      321
Florida       654
Illinois      199
dtype: int64

In [17]:
states = pd.DataFrame({'population': population,
                       'area': area})
print('This is states: \n', states)
print('This is the index of states:', states.index)
print('This is the column of states: \n ', states.columns)

This is states:
             population    area
California         123  423967
Texas              456  695662
New York           321  141297
Florida            654  170312
Illinois           199  149995
This is the index of states: Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
This is the column of states:
  Index(['population', 'area'], dtype='object')

In [18]:
states

            population    area
California         123  423967
Texas              456  695662
New York           321  141297
Florida            654  170312
Illinois           199  149995

In [25]:
#states_in_area = states['area']
states_in_area = states.area
print('This is the content of the area series in states: ')
print(states_in_area)
print('One specific state (NY) is: ', states['area']['New York'])

This is the content of the area series in states:
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
One specific state (NY) is:  141297

In [27]:
#Ex2-2. Creating a DataFrame from a single series object
dataf2 = pd.DataFrame(population, columns=['population'])
print('This is dataf2: \n', dataf2)
print('This is the type: ', type(dataf2))

This is dataf2:
             population
California         123
Texas              456
New York           321
Florida            654
Illinois           199
This is the type:  <class 'pandas.core.frame.DataFrame'>

In [33]:
#Ex2-3. From a list of dicts
data_list_of_dict = [{'a': i, 'b': 2 * i}
          for i in range(3)]
print('List of dict')
print(data_list_of_dict)
dataf3= pd.DataFrame(data_list_of_dict)
print('This is dataf3: \n')
print(dataf3)
dataf3

List of dict
[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]
This is dataf3:

   a  b
0  0  0
1  1  2
2  2  4

   a  b
0  0  0
1  1  2
2  2  4

In [34]:
#Ex2-4. if keys are missing they will be filled out with NaN
dataf4 = pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])
print('This is dataf4: \n')
print(dataf4)

This is dataf4:

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [35]:
#Ex2-5. from a dictionary of series objects
dataf5 = pd.DataFrame({'population': population,
                       'area': area})
print('This is dataf5: \n')
dataf5

This is dataf5:

            population    area
California         123  423967
Texas              456  695662
New York           321  141297
Florida            654  170312
Illinois           199  149995

In [36]:
#Ex2-6. From a two-dimensional NumPy array
dataf6 = pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])
print('This is dataf6: \n')
dataf6

This is dataf6:

        foo       bar
a  0.757721  0.144700
b  0.518241  0.913421
c  0.144069  0.558802

In [37]:
A=np.random.rand(3, 2)
print(A)

[[0.15510244 0.36517349]
 [0.01691886 0.18031027]
 [0.99970066 0.62340716]]

In [38]:
#Ex2-7. From a Numpy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
print('This is A: ', A)

This is A:  [(0, 0.) (0, 0.) (0, 0.)]

In [39]:
dataf7 = pd.DataFrame(A)
print('This is dataf7: \n')
dataf7

This is dataf7:

   A    B
0  0  0.0
1  0  0.0
2  0  0.0